@use "../utils" as *;

.card {
  padding: rem(30) rem(35);
  display: flex;
  flex-direction: column;
  max-width: rem(351);
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  position: relative;
  overflow: hidden;

  &__info {
    margin-bottom: rem(40);

    h2 {
      color: $dark-blue;
      font-size: rem(18);
      margin-bottom: rem(12);
    }

    p {
      font-weight: 400;
      font-size: rem(13);
      color: $gray-blue;

      @include breakpoint-max(sm) {
        font-size: $base-font-size;
      }
    }
  }

  img {
    margin-left: auto;
    width: 64px;
  }

  &--cyan::after {
    @include card-color($cyan);
  }

  &--red::after {
    @include card-color($red);
  }

  &--orange::after {
    @include card-color($orange);
  }

  &--blue::after {
    @include card-color($blue);
  }
}
